VITE_SOLANA_RPC_URL=
VITE_HELIUS_API_KEY=
VITE_HELIUS_WALLET_API_URL=https://api.helius.xyz
VITE_JUPITER_SWAP_API_URL=https://api.jup.ag
VITE_JUPITER_API_KEY=
VITE_JUPITER_MAX_PRIORITY_FEE_LAMPORTS=0
